.logolu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CE2829;
    color: #FAF7F2;
    height: 100vh;
    
}
.baslik{
    border-bottom: 1px solid #FAF7F2;
}
.img{
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 20vw;
}

.italikson{
    text-align: center;
    font-family: 'Satisfy';
    color: #FDC913;
    margin-bottom: 0;
    font-size: 23px;
}

.alindiBilgisi{
    font-family: 'Roboto Condensed';
    font-weight: 200;
    border-bottom: 1 solid #FAF7F2;
    padding-bottom: 1rem;
    font-size: 60px;
    
}

.pizzaAdi{
    font-family: 'Barlow';
    font-weight: 600;
    margin-top: 1.5rem;
}

.detaylar{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.kutu{
    width: 150px;
}
.sonKisim{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid  #FAF7F2;
    border-radius: 5px;
    margin-top: 2rem;
    padding-top: 1rem;
}
.secimler2{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Barlow';
}
.toplam2{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Barlow';
}